line, polyline, polygon, path, rect, circle {
fill: red;
stroke: #000000;
stroke-width: 1.0;
stroke-linecap: round;
stroke-linejoin: round;
stroke-miterlimit: 10.00;
}

text {
font-family: Source Sans Pro, Helvetica, sans-serif;
font-size: 11px;
}

rect.plot_bg {
fill: none;
stroke: white;
}

rect.panel_bg {
fill: #EBEBEBAA;
stroke: white;
stroke-width: 0.1;
}

rect.strip_bg {
fill: #D9D9D9;
stroke: none;
}

polyline.grid_major {
stroke: white;
stroke-width: 1.07
}

polyline.grid_minor {
stroke: white;
stroke-width: 0.53
}

polyline.ticks {
stroke: #333333;
stroke-width: 1.07
}


text.axis_label {
font-family: Source Sans Pro;
font-size: 9px;
fill: #4D4D4D
}

text.axis_title {
fill: #4D4D4D;
}

text.plot_title {
fill: #4D4D4D;
font-size: 13pt;
}

text.strip_fg {
font-size: 9px;
fill: #1A1A1A
}

rect.guide_box {
fill: none;
stroke: none;
}

rect.guide_bg {
fill: #F2F2F2;
stroke: #FFFFFF;
stroke-width: 1.0;
}

rect.guide_fg {
font-size: 9px;
fill: #1A1A1A
}
